/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

// body {
//   /* background-image: url('/assets/img/background.jpg');
//     background-repeat: no-repeat;
//     background-size: 100%; */
//   /* background-color: #1f679a;  */
//   // background-color: rgb(142 205 176 / 80%);
// }

table {
  color: #343a40;
  background-color: #f7f1f1;
  font-size: 18px;
}

td {
  font-weight: 500;
  font-size: 18px;
}

/* @media(min-width:220px) and (max-width: 1220px){
	body {
        background-size: 300%;
    }
} */
